node_modules/
dist/
release/
asar-check-functional/
build/
.DS_Store
*.log
*.err
*.txt
err.txt
err2.txt
err3.txt
err4.txt
out.txt
out2.txt
out3.txt
out4.txt
electron-err.txt
electron-out.txt
debug.err
android/.gradle/
android/app/build/
android/build/
android/capacitor-cordova-android-plugins/build/
android/.idea/
*.iml
local.properties
